.Content {
  margin: 0 0.47em;
  &-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0.25em;
    grid-row-gap: 0.35em;
    height:auto;
  }
  &-li1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  &-li2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  &-li3 {
    grid-area: 2 / 2 / 4 / 3;
  }
  &-li4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  &-li5 {
    grid-area: 4 / 1 / 5 / 2;
  }
  &-li6 {
    grid-area: 4 / 2 / 5 / 3;
  }
  &-li7 {
    grid-area: 5 / 1 / 6 / 3;
  }
  &-li8 {
    grid-area: 6 / 1 / 7 / 2;
  }
  &-li9 {
    grid-area: 6 / 2 / 7 / 3;
  }
  &-li10 {
    grid-area: 7 / 1 / 8 / 2;
  }
  &-li11 {
    grid-area: 7 / 2 / 9 / 3;
  }
  &-li12 {
    grid-area: 8 / 1 / 10 / 2;
  }
  &-li13 {
    grid-area: 9 / 2 / 10 / 3;
  }
  &-img {
    object-fit: contain;
  }
  &-info {
    display: flex;
    background: var(--verde);
    color: rgb(255, 255, 255);
  }
}
.Info {
  &-div {
    width: 50%;
  }
  &-div--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 3em;
  }
  &-h2 {
    font-weight: 800;
    font-size: 1.4em;
  }
  &-p {
  }
  &-a {
    font-weight: 800;
    font-size: 1.2em;
  }
  &-div--img{
    background: red;
  }
  &-img{
    height: 23.71em;

  }
}
@media screen and (max-width: 1083px) {
  .Content {
    &-ul {
      grid-template-columns: repeat(1, 1fr);
    }
    &-li1 {
      grid-area: 1 / 1 / 2 / 3;
    }
    &-li2 {
      grid-area: 2 / 1 / 3 / 3;
    }
    &-li3 {
      grid-area: 3 / 1 / 4 / 3;
    }
    &-li4 {
      grid-area: 4 / 1 / 5 / 3;
    }
    &-li5 {
      grid-area: 5 / 1 / 6 / 3;
    }
    &-li6 {
      grid-area: 6 / 1 / 7 / 3;
    }
    &-li7 {
      grid-area: 7 / 1 / 8 / 3;
    }
    &-li8 {
      grid-area: 8 / 1 / 9 / 3;
    }
    &-li9 {
      grid-area: 9 / 1 / 10 / 3;
    }
    &-li10 {
      grid-area: 10 / 1 / 11 / 3;
    }
    &-li11 {
      grid-area: 11 / 1 / 12 / 3;
    }
    &-li12 {
      grid-area: 12 / 1 / 13 / 3;
    }
    &-li13 {
      grid-area: 13 / 1 / 14 / 3;
    }
  }
}
