.Contenido {
  display: flex;
  justify-content: center;
  margin: 2.8em 0;
  &-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 55em;
    gap: 4em;
  }
  &-li {
    width: max-content;
  }
  &-img{
    height: 3.5em;
    object-fit: contain;
  }
  &-span{
    display: block;
    font-weight: 600;
    color: var(--verde);  
  }
}
