.Header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 0 5.3em;
  font-size: 0.8em;
  &-menu {
    display: flex;
    align-items: center;
  }
  &-img {
    padding: 0.1em 1em;
    height: 2em;
    object-fit: contain;
  }
  &-img--xbox {
    margin: 0 0 0 0.8em;
    padding-left: 1.5em;
    border-left: 2px solid var(--negro);
  }
  &-cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.Nav {
  &-ul {
    display: flex;
    align-items: center;
  }
  &-li {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 1.2rem 0.6rem;
    width: max-content;
  }
}
svg {
  width: 2em;
  fill: none;
}
.button {
  display: none;
}
@media screen and (max-width: 1195px) {
  .button {
    display: block;
  }
  .Header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 1em 0;
    &-menu {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &-img {
      padding: 0em 1em;
      height: 2em;
      object-fit: contain;
    }
    &-img--xbox {
      padding: 0;
      border: 0;
      margin-top: 1em;
      object-position: left;
    }
    &-icon {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1em;
      cursor: pointer;
      img {
        width: auto;
      }
      svg{
        fill: inherit;
      }
    }
  }
  .Nav {
    &-ul {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .Menu {
    display: none;
    &.open {
      display: block;
    }
  }
}
